<div class="vh-100 pt-5 comojugar">

    <div class="col-12 col-md-8 col-lg-8 col-xl-8 mx-auto p-0 pt-5">
        <div class="w-100">
            <h2 class="text-center py-2">¿Cómo jugar?</h2>
            <ol>
                <li>
                    <div>
                        <p>Tendremos que iniciar sesión en la primera pantalla:</p>
                        <img src="../../assets/f/ini.png" alt="">
                        <p>En el caso que no te hayas registrado anteriormente, pulsar sobre el enlace “Prefiero Registrarme” y seguir los pasos que se indican.</p>
                        <img src="../../assets/f/reg.PNG" alt="">
                    </div>
                </li>
                <li>
                    <div>
                        <p>Una vez iniciada la sesión, nos encontraremos con la pantalla principal. En esta pantalla principal, nos aparecerá varias opciones (JUGAR, RANKING, COMO JUGAR Y SALIR). Elegimos la que queramos:</p>
                        <img src="../../assets/f/menu.png" alt="">
                    </div>
                </li>
                <li>
                    <div>
                        <p>Jugar: Una vez clicamos en esta opción, nos dará acceso al juego y comenzará la partida. Ver “¿Cómo Jugar?” para obtener información sobre las reglas de juego.
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>Ranking: En esta pantalla podremos saber que puntuación y en que posición estamos de entre todos los usuarios que han jugado:</p>
                        <img src="../../assets/f/ra.png" alt="">
                    </div>
                </li>
                <li>
                    <div>
                        <p>¿Cómo Jugar?:</p>
                        <ul class="mb-2">
                            <li>Una vez que pulsemos sobre “Jugar”, aparecerá la pantalla del juego.</li>
                        </ul>
                        <img src="../../assets/f/g1.png" alt="">
                        <ul class="mb-2">
                            <li>Pinchamos sobre el icono del “Play” para iniciar el trozo de canción que tendrá una duración de entre 10 a 15 segundos. Una vez que creamos saber la solución, pinchamos sobre una de las cuatro respuestas. Se marcará de color
                                verde como solución correcta o de color rojo, en caso de ser incorrecta.</li>
                        </ul>
                        <img src="../../assets/f/g2.png" alt="">
                        <img src="../../assets/f/g3.png" alt="">
                        <ul class="mb-2">
                            <li> El juego consiste en acertar el máximo número de canciones.</li>
                            <li> Cada partida estará compuesta de 10 canciones a acertar.</li>
                            <li> Tendremos 4 opciones como respuestas, solo una de ellas será la verdadera.</li>
                            <li> Por cada respuesta acertada se sumarán 20 puntos, en caso de no acertar, contará como 0 puntos.</li>
                            <li> Al finalizar el juego, nos mostrará la puntuación final con la canción y la respuesta correcta.</li>
                        </ul>
                        <img src="../../assets/f/go.png" alt="">
                    </div>
                </li>
                <li>
                    <p>Salir: Cuando queramos terminar de jugar y salir del juego pinchamos en este botón.
                    </p>
                    <img src="../../assets/f/sa.png" alt="">
                </li>
            </ol>
        </div>

        <div class="w-100 align-self-end text-end mt-4 pb-5">
            <button class="btn btn-success rounded-0" [routerLink]="['/']">Volver</button>
        </div>
    </div>

</div>