<div class="vh-100 d-flex align-items-center justify-content-center">

    <div class="row w-100 h-75 pt-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 mx-auto p-0">
            <div class="d-flex flex-wrap h-100 w-100 px-3">
                <div class="w-100">
                    <h2 class="text-center py-2">Ranking</h2>
                    <table class="table table-stiped table-dark">
                        <!-- <li *ngIf="partidas.length === 0">Cargando...</li> -->
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Jugador</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let partida of partidas">
                                <td>{{partida.id}}</td>
                                <td>{{partida.fecha}}</td>
                                <td>{{partida.alias}}</td>
                                <td>{{partida.puntuacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="w-100 align-self-end text-end">
                    <button class="btn btn-success rounded-0 w-100" [routerLink]="['/']">Volver</button>
                </div>
            </div>

        </div>

    </div>
</div>